services:
  server:
    build:
      context: ./server
      dockerfile: Dockerfile
    image: mezamateoj/ghosted-server
    container_name: server
    ports:
      - 8000:8000
    volumes:
      - ./server:/app
      - /app/node_modules
    env_file:
      - ./server/.env
    restart: always
