@tailwind base;
@tailwind components;
@tailwind utilities;

:root  {
	--background: 82.7 65% 95%;
	--foreground: 82.7 5% 10%;
	--card: 82.7 50% 90%;
	--card-foreground: 82.7 5% 15%;
	--popover: 82.7 65% 95%;
	--popover-foreground: 82.7 95% 10%;
	--primary: 82.7 78% 55.5%;
	--primary-foreground: 0 0% 100%;
	--secondary: 82.7 30% 70%;
	--secondary-foreground: 0 0% 0%;
	--muted: 44.7 30% 85%;
	--muted-foreground: 82.7 5% 40%;
	--accent: 44.7 30% 80%;
	--accent-foreground: 82.7 5% 15%;
	--destructive: 0 65% 45%;
	--destructive-foreground: 82.7 5% 90%;
	--border: 82.7 30% 50%;
	--input: 82.7 30% 45%;
	--ring: 82.7 78% 55.5%;
	--radius: 0.5rem;
}
.dark  {
	--background: 82.7 50% 10%;
	--foreground: 82.7 5% 90%;
	--card: 82.7 50% 10%;
	--card-foreground: 82.7 5% 90%;
	--popover: 82.7 50% 5%;
	--popover-foreground: 82.7 5% 90%;
	--primary: 82.7 78% 55.5%;
	--primary-foreground: 0 0% 100%;
	--secondary: 82.7 30% 20%;
	--secondary-foreground: 0 0% 100%;
	--muted: 44.7 30% 25%;
	--muted-foreground: 82.7 5% 60%;
	--accent: 44.7 30% 25%;
	--accent-foreground: 82.7 5% 90%;
	--destructive: 0 65% 45%;
	--destructive-foreground: 82.7 5% 90%;
	--border: 82.7 30% 45%;
	--input: 82.7 30% 45%;
	--ring: 82.7 78% 55.5%;
	--radius: 0.5rem;
}
/* @layer base {
	
  
  
} */


/* 
@layer base {
  * {
    @apply border-border outline-ring/50;
	}
  body {
    @apply bg-background text-foreground;
	}
} */


/* 
---break--- */


/* @layer base {
  * {
    @apply border-border outline-ring/50;
	}
  body {
    @apply bg-background text-foreground;
	}
} */
